@model IEnumerable<FilmsApplication.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Actors</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
</p>}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorDeathDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorCountry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorBirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorDeathDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorCountry.CountryName)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ActorId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ActorId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ActorId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ActorId">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
