@model IEnumerable<FilmsApplication.Models.FilmGenre>

@{
    ViewData["Title"] = "Index";
}

<h1>List of @ViewBag.GenreName films</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create" asp-route-id=@ViewBag.GenreId asp-route-name=@ViewBag.GenreName>Create New</a>
</p>}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Film.FilmName)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FilmGenreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FilmGenreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FilmGenreId">Delete</a>
            </td>}
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.FilmGenreId">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
